body {
  margin: 0;
  padding: 0;
  background-color: rgb(43, 77, 122);
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  text-align: center;
}

.color-palette-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}


.color-palette {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.color {
  height: 60px;
  width: 60px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.selection-container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#clear-board, #generate-board {
  width: 80px;
  height: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

#board-size {
  width: 60px;
  font-size: 15px;
  text-align: center;
}

.board-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.pixel-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 600px;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.pixel {
  box-sizing: border-box;
  background-color: white;
  width: 75px;
  height: 75px;
  border: 2px solid rgb(2, 77, 31);
  cursor: pointer;
}
